body {
  margin: 0;
}

.outer-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  color: rgb(47, 0, 255);
  background-color: rgb(255, 254, 251);
  position: relative;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

.central-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-div {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  letter-spacing: 0.1cap;
  background-color: #2f8d46;
  background-image: url("./Assests/Blue-texture-2.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: rgb(252, 251, 255);
  -webkit-text-stroke: 2px rgb(47, 0, 255); width and color */
  /* text-shadow: -2px 0 rgb(47, 0, 255), 0 2px rgb(47, 0, 255),
    2px 0 rgb(47, 0, 255), 0 -2px rgb(47, 0, 255); */
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-rows: repeat(3fr 1);
  gap: 0px;
  margin-bottom: 0px;
  gap: 0;
  /* justify-self: center;
  align-self: center;
  position: absolute; */
}

.row {
  display: flex;
  flex: 1; /* Each row takes up equal space */
  width: 100%;
}

.square {
  color: rgb(255, 254, 251);
  background-image: url(./Assests/Square-2.jpg);
  background-position: 0%;
  height: 166.6px;
  width: 166.6px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 120px;
  border-color: whitesmoke;
  border-style: solid;
  border-radius: 10px;
  padding: 0px;
  font-weight: bold;
  aspect-ratio: 1;
}

.square:hover {
  transform: scale(1.04);
  -webkit-transition: all 0.5s ease;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}

.status {
  display: flex;
  flex-grow: 1;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  letter-spacing: 0.2cap;
  color: rgb(89, 60, 255);
  font-weight: 20;
}

.move-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-se;
  position: relative;
  letter-spacing: 0.1cap;
  font-style: normal;
  font-weight: bolder;
  z-index: 1;
  font-size: 18px;
  color: black;
}

.x {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 200px;
  font-weight: bolder;
  position: fixed;
  color: rgb(255, 246, 246);
  -webkit-text-stroke: 0px rgb(243, 241, 255);
  -webkit-text-fill-color: transparent;
  background-image: url("./Assests/blue-texture.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.o {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 220px;
  font-weight: bold;
  position: fixed;
  -webkit-text-stroke: 0px rgb(243, 241, 255);
  -webkit-text-fill-color: transparent;
  background-image: url("./Assests/blue-texture.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
