.outer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: auto; /* Push board down */
  margin-bottom: auto;
}

.square {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 100px;
  background-color: whitesmoke;
}

.title {
  margin-top: 100px;
  margin-bottom: 20px; /* Space between title and board */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
